.main-robot {
	grid-column: 5 / span 2;
	grid-row: 1/3;
	@media (min-width: 768px) and (max-width: 1023px) {
		grid-column: 3 / span 2;
	}
	@media (max-width: 767px) {
		grid-column: 1 / span 2;
		grid-row: 1;
	}
	width: 236px;
	height: 319px;
	background: url(./img/robot_sprites.png);
	&.front.male {
		background-position: 0 -2560px;
	}
	&.front.female {
		background-position: 0 -2880px;
	}
	&.design.male {
		background-position: 0 -3200px;
	}
	&.design.female {
		background-position: 0 -3520px;
	}
	&.storage.front.male {
		background-position: 0 -1280px;
	}
	&.storage.front.female {
		background-position: 0 -1600px;
	}
	&.storage.design.male {
		background-position: 0 -1920px;
	}
	&.storage.design.female {
		background-position: 0 -2240px;
	}
	&.production.front.male {
		background-position: 0 0px;
	}
	&.production.front.female {
		background-position: 0 -320px;
	}
	&.production.design.male {
		background-position: 0 -640px;
	}
	&.production.design.female {
		background-position: 0 -960px;
	}
}
