.storage {
	padding: 75px 0 92px 0;
	@media (min-width: 1024px) and (max-width: 1919px) {
		padding: 75px 0 118px 0;
	}
	grid-column: 2/6 span;
	@media (min-width: 768px) and (max-width: 1023px) {
		padding: 55px 0 102px 0;
		grid-column: 1/4 span;
	}
	@media (max-width: 767px) {
		padding: 35px 0 38px 0;
		grid-column: 1/2 span;
	}
	&__button {
		font: var(--font-text-regular);
		color: #7cdaf9;
		width: 200px;
		margin: 0 auto;
		background: transparent;
		border: 2px solid;
		margin-top: 24px;
		@media (min-width: 1024px) and (max-width: 1919px) {
			margin-top: 28px;
		}
		&:hover {
			color: #212529;
			background: #7cdaf9;
		}
		&--disabled {
			color: #4c5865;
			border: 2px solid;
			background: transparent;
			pointer-events: none;
		}
	}
}
