.grid {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: 24px;
	@media (min-width: 768px) and (max-width: 1023px) {
		grid-template-columns: repeat(4, 1fr);
	}
	@media (max-width: 767px) {
		grid-template-columns: repeat(2, 1fr);
	}
}
