.production-item {
	width: 48px;
	height: 48px;
	background-size: cover;
	cursor: pointer;
	&__bio.disabled {
		background: url(./img/bio-sprites.png) -0 -0;
		pointer-events: none;
	}
	&__bio.choose {
		background: url(./img/bio-sprites.png) -48px -0;
	}
	&__bio.active {
		background: url(./img/bio-sprites.png) -96px -0;
	}
	&__cpu.disabled {
		background: url(./img/cpu-sprites.png) -0 -0;
		pointer-events: none;
	}
	&__cpu.choose {
		background: url(./img/cpu-sprites.png) -48px -0;
		background-position: center;
	}
	&__cpu.active {
		background: url(./img/cpu-sprites.png) -96px -0;
	}
	&__soul.disabled {
		background: url(./img/soul_sprites.png);
		pointer-events: none;
		background-position: center;
	}
	&__soul.choose {
		background: url(./img/soul_sprites.png);
	}
	&__soul.active {
		background: url(./img/soul_sprites.png);
		background-position: 100% 0;
	}
}
