.production {
	grid-column: 2/6 span;
	@media (min-width: 768px) and (max-width: 1023px) {
		grid-column: 1/4 span;
	}
	@media (max-width: 767px) {
		grid-column: 1 / span 2;
	}
	&__container {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 2fr 1fr;
		gap: 60px 24px;
		padding: 75px 0 205px 0;
		@media (min-width: 1024px) and (max-width: 1919px) {
			padding: 38px 0 196px 0;
			gap: 40px 24px;
		}
		@media (min-width: 768px) and (max-width: 1023px) {
			padding: 37px 0 100px 0;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: 1fr 1fr;
			gap: 20px 24px;
		}
		@media (max-width: 767px) {
			padding: 37px 0 96px 0;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(5, auto);
			gap: 29px 24px;
		}
	}
	&__style {
		grid-column: 1 / span 2;
		grid-row: 1;
		@media (max-width: 767px) {
			grid-column: 1 / span 2;
			grid-row: 2;
		}
	}
	&__control {
		grid-column: 3/4 span;
		grid-row: 1;
		@media (min-width: 768px) and (max-width: 1023px) {
			grid-column: 1 / span 2;
			grid-row: 2;
		}
		@media (max-width: 767px) {
			grid-column: 1 / span 2;
			grid-row: 3;
		}
		display: grid;
		grid-template-columns: repeat(4, 48px);
		grid-template-rows: repeat(3, 48px);
		grid-gap: 16px 10px;
		margin-top: 5px;
	}
	&__button {
		grid-column: 1 / span 2;
		grid-row: 2;
		@media (min-width: 768px) and (max-width: 1023px) {
			grid-column: 1 / span 2;
			grid-row: 4;
		}
		@media (max-width: 767px) {
			grid-column: 1 / span 2;
			grid-row: 5;
		}
		font: var(--font-text-medium);
		display: block;
		background: transparent;
		&--active {
			border: 2px solid #ff7f22;
			&:hover {
				border: none;
				background: #ff5722;
			}
		}
		&--disabled {
			color: var(--color-grey);
			border: 2px solid var(--color-grey);
			pointer-events: none;
		}
	}
	&__info-text {
		@media (min-width: 768px) and (max-width: 1023px) {
			grid-column: 1 / span 2;
			grid-row: 3;
		}
		@media (max-width: 767px) {
			grid-column: 1 / span 2;
			grid-row: 4;
		}
		grid-row: 2;
		grid-column: 3 / span 2;
		font: var(--font-text-sm);
		color: var(--color-grey);
	}
}
